*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Poppins', sans-serif;
}
#banner{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.233), rgba(0, 0, 0, 0.9)), url(/Images/convertkit-waxDxYM2XI4-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: rgba(0, 0, 0, 0.234);
}
.navbar{
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
}
.logo .fa{
    font-size: 2.4rem;
    color: #008080;
}
.menu{
    width: 3rem;
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    right: 0;
    color: #fff;
    width: 50%;
    height: 100vh;
    background: #fff;
    transform: translateX(100%);
    transition: .5s;
}
nav ul{
    margin-top: 5rem;
}
nav ul li a{
    padding: 1.3rem;
    display: block;
    color: #000;
    transition: .4s;
}
nav ul li a:hover{
    background: #00808082;
}
.close{
    width: 2.7rem;
    float: right;
    margin: 1rem;
    cursor: pointer;
}
.open-nav{
    transform: translateX(0%);
}
.main{
    width: 80%;
    margin: auto;
    text-align: center;
    color: #fff;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.main span{
    color:#008080 ;
}
.main h1{
    font-size: 2.5rem;
}
.main p{
    font-style: italic;
}
.btn{
    margin-top: 2rem;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
    padding: .7rem 1.5rem;
    transition: .5s;
}
.btn:hover{
    background: #008080;
    border: 1px solid #008080;
}

/* Features */
#features{
    width: 100%;
    padding: 2.5rem 0;
}
.title{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.features-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.features-box{
    flex-basis: 100%;
    margin-bottom: 2rem;
}
.features-box .fa{
    font-size: 2rem;
    color: #008080;
    margin-bottom: .5rem;
}
.features-box a{
    color: #008080;
}

/* The Boys */
#the-boys{
    width: 100%;
    padding: 2.5rem 0;
    background: #0080801d;
}
.boys-row{
    width: 80%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}
.boys-box{
    flex-basis: 100%;
    background: #fff;
    border-radius: 1rem;
    padding: .8rem;
    margin-bottom: 1rem;
    box-shadow:  0 10px 20px 3px #00808028;
    transition: .5s;
}
.boys-box:hover{
    transform: translateY(-.5rem);
}
.boys-box > p{
    margin-top: .8rem;
}
.boys img{
    width: 3rem;
    border-radius: .4rem;
    margin-right: .7rem;
}
.boys{
    display: flex;
    align-items: center;
}
.boys-info p{
    color: rgb(0, 128, 255);
}
.boys-info .fa{
    font-size: 1.2rem;
}
.boys-info a{
    color: rgb(0, 128, 255);
}

/* Reach Us */
#contact{
    width: 100%;
    padding: 2.5rem 0;
}
.reach-us{
    width: 80%;
    margin: auto;
    text-align: center;
}
.links{
    margin-top: .5rem;
}
.links .fa{
    color: #008080;
    font-size: 1.5rem;
    margin: 0 .5rem 0;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border: 1px solid #008080;
    border-radius: .4rem;
    transition: .5s;
}
.links .fa:hover{
    background: #008080;
    color: #fff;
}

















/* Responsive Header */
@media screen and (min-width:750px) {
    nav{
        transform: translateX(0);
        height: auto;
        width: auto;
        position: unset;
        background: none;
    }
    nav ul{
        margin-top: 0;
        display: flex;
    }
    nav ul li a{
        color: #fff;
        padding: 0 1.2rem;
        transition: .5s;
    }
    nav ul li a:hover{
        background: none;
        transform: scale(1.2);
    }
    .menu{
        display: none;
    }
    .close{
        display: none;
    }
    .main{
        font-size: 1.3rem;
    }
    .main h1{
        font-size: 3.5rem;
    }
    .title{
        font-size: 2rem;
    }
    .features-box{
        flex-basis: 25%;
        font-size: 1.2rem;
    }
    .boys-box{
        flex-basis: 30%;
    }
    .reach-us p{
        font-size: 1.5rem;
    }
}